<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<title>Chat</title>
</head>
<body>
	<div class="menu"><ul>
    	<li><a href="/">Chat</a></li>
    	<li><a href="/">About us</a></li>
    	<li>
    </div>
    <div class="main">
    	<h1>Find interesting topics for conversation!</h1>
    	<div class="form">
    		<form method="post" action="/logout/">
    			{% csrf_token %}
    			<input type="hidden" name="next" value="{% url 'index' %}" />
    			<input type="text" name="user" placeholder="Your page"><br>
    			<input type="text" name="target" placeholder="His or her page"><br>
    			<input type="submit" value="Logout" id="submit">
    		</form>
    	</div>
    </div>
</body>
</html>
